.benefits{
	padding: 50px 0;
}

.benefits__content{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	flex-wrap: wrap;
}

.benefits__title{
	font-family: 'Fira Sans', sans-serif;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	margin-bottom: 50px;
}

.benefits__text{
	margin-bottom: 30px;
}

.benefits__text + .benefits__text{
	width: 210px;
}

.video-popup{
	width: 200px;
	background-color: #EB5757;
	text-transform: uppercase;
	color: #fefefe;
	padding: 6px 34px 6px 34px;
	text-align: center;
	display: inline-block;
	position: relative;
}