.reviews{
	padding: 50px 0 100px;
	background-color: #333333;
	color: #fefefe;
}

.reviews__title{
	font-family: 'Fira Sans', sans-serif;
	font-weight: 500;
	font-size: 2rem;
	line-height: 3rem;
	margin-bottom: 4rem;
	text-align: center;
}
.reviews__slider{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.slider__slide{
	max-width: 100%;
	display: flex;
	justify-content: space-around;
	margin: 2rem;
}
.slide__card{
	background-color: #fefefe;
	padding: 2rem;
	text-align: center;
}
.slide__card:nth-child(2){
	margin: 0 3rem;
}
.card-user-photo{
	width: 60px;
	height: 60px;
	border-radius: 50px;
	margin-bottom: 15px;
}
.card-user-name{
	font-family: 'Fira Sans', sans-serif;
	font-weight: 700;
	font-size: 1rem;
	margin-bottom: 1rem;
	color: #333333;
}
.card-user-review{
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	font-size: 0.7rem;
	color: #333333;
	max-height: 8rem;
	max-width: 14rem;
}
button.reviews-slider__button-prev,
button.reviews-slider__button-next{
	border: none;
	background: transparent;
}

